/*/*/*/*/bin/**/*
/*/*/*/*/bin/*.*
/*/*/*/bin/**/*
/*/*/*/bin/*.*
/*/*/bin/**/*
/*/*/bin/*.*
/*/*/*/*/gen/**/*
/*/*/*/*/gen/*.*
/*/*/*/gen/**/*
/*/*/*/gen/*.*
/*/*/gen/**/*
/*/*/gen/*.*
local.properties
*.apk
*.ap_
bin/**
gen/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
*.launch
*.class
*.ear
*.war
*.cache
.externalToolBuilders/
.metadata/
/SMT_DEMOS/PenTally/.settings/org.eclipse.core.resources.prefs
